.title{
    text-align: center;
    margin: 2rem 0;
    margin-bottom: 5rem;
}

.mypageList{
    padding: 0px;
}
.mypageList a {
    width: 100%;
}
.mypageList li {
    margin-bottom: 1rem;
    width: 95%;
    height: 4rem;
    margin-left:0.5rem ;
    border-bottom: 1px solid rgb(224, 213, 213);
    position: relative;
}
.mypageList li div:first-child {
    display: inline-block;
    float: left;
}
.mypageList li div:first-child p{
    margin-top: 0.5rem;
    font-size: small;
    color: black;
    float: left;
    font-size: 1rem;
}
.mypageList li div div{
    font-size: large;
}
.mypageList li div:last-child {
    float: right;
    margin-top: 1rem;
    width: 10%;
}
.mypage_rest_btn div:first-child{
    margin-top: 1rem;
}