.floor{
    width: 100%;
    height: 7rem;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.floor.status{
    height: 9rem;
}

.banner{
    overflow: hidden;
    width: 100%;
    height: inherit;
    border-radius: var(--border-radius);
    background-color: white;
    box-shadow: 2px 2px 5px #dadada;
}
.banner a{
    width: 100%;
    height: 100%;
    display: inline-block;
    white-space: nowrap;
    border: none;
    border-radius: var(--border-radius);
}
.floor .ball{
    position: absolute;

}

.floor > a{
    margin: 0;
    height: 100%;
    border-radius: var(--border-radius);
    line-height: 7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 2px 2px 5px #dadada;
    background-color: white;
}
#laundry{
    width: 70%;
    background: var(--main-font-color);
    color: white;
    padding: 0.5rem;
    line-height: initial;
}
#pass{
    width: 180%;
    background-color: var(--main-color);
    color: white;
}

.imgBox{
    width: 4rem;
    height: 4rem;
    border-radius: var(--border-radius);
    display: flex;
}

.imgBox img{
    width: 4rem;
    filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(6deg) brightness(102%) contrast(101%);
}
.imgBox svg{
    width: 2.3rem;
}
#use, #price, #pass, #order{
    padding: 0.5rem;
    line-height: initial;
}

#pass{
    display: flex;
    align-items: center;
}


.friend{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.friend .warp{
    width: 100%;
    margin: 0;
    padding-left: 1.5rem;
}
.warp span{
    white-space: initial;
    line-height: initial;
    display: block;
    text-align: left;
}
.title{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    position: relative;
}
.content{
    color: var(--gray);
}


.col{
    color: white;
}




.inviteCoupon{
    width: 7rem;
    height: 3.5rem;
    border: none;
    border-left: 0.6rem solid var(--main-color);
    border-radius: var(--border-radius);
    position: relative;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px rgb(86, 86, 86);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: initial;
}

.couponTitle{
    color: var(--main-color);
    font-size: 1rem;
    font-family: 'Pretendard-Bold';
    margin: 0;
}
.couponPrice span{
    font-family: 'Pretendard-Bold';
    font-size: 1.3rem;
}

.couponPrice .couponPointBox{
    display: block;
    background-color: antiquewhite;
    height: 100%;
}

.priceBox{
    display: inline-block;
    font-size: 1rem;
}

.friend{
    position: relative;
}

.first{
    position: absolute;
    right: 1rem;
    top: calc(50% - 1.75rem);
}


.pass {
    position: absolute;
    top: -20%;
    left: 50%;;
    margin: 0;
    display: inline-block;
    border: 2px solid green;
    border-radius: var(--border-radius);
    height: 2rem;
    line-height: 2rem;
    width: 4rem;
    background-color: rgb(33, 33, 33);
    color: green;
    font-size: large;
    text-align: center;
}


.infomation{
    width: 100%;
    height: 2rem;
}

.progressBar{
    width: calc(100% - 1.8rem);
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 0.9rem;

}

.progressBarTitle{
    margin: 0;
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: var(--main-font-color);
    margin: 0;
}

.bar{
    width: calc(100% - 0.8rem);
    height: 0.4rem;
    background-color: var(--main-font-color);
    position: absolute;
    left: 0.4rem;
}
.now{
    position: absolute;
    animation: sizeChange 0.4s alternate infinite;
}


@keyframes sizeChange {

    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }

}

.barTitle{
    margin: 0;
    font-size: 0.9rem;
    color: var(--gray);
}

#order{
    white-space: initial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.orderTitle{
    text-align: left;
    margin: 0.5rem 0 0.8rem 0;
}

.orderStatus{
    width: 100%;
    text-align: left;
    display: inline-block;
    font-size: large;
    margin-bottom: 0.3rem;
}
.orderContent{
    width: 100%;
    text-align: left;
    display: inline-block;
    color: var(--gray);
}
.orderText{
    margin: 0;
}