<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/project_footer.css">
    <link rel="stylesheet" href="/css/project_header.css">
    <link rel='stylesheet' href='/css/project_subscribe_success.css'>
    <title>구독완료</title>
</head>
<header th:replace="~{/common/project_header :: header}"></header>
<body>
<div class='container'>
    <div class='title'>결제 완료</div>

    <div class='breakdown-wrap'>
        <div class='breakdown-container'>
            <div>결제금액</div>
            <div></div>
        </div>
    </div>

    <button class='goLaundry' onclick="location.href='/';">메인으로</button>

</div>

<footer th:replace="~{/common/project_footer :: footer}"> </footer>

</body>
</html>