<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/project_footer.css">
    <link rel="stylesheet" href="/css/project_header.css">
    <link rel="stylesheet" href="/css/project_register.css">
    <title>세탁신청</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function sample6_execDaumPostcode(event) {
            event.preventDefault();
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.querySelector("#register_extraAddress").value = extraAddr;

                    } else {
                        document.querySelector("#register_extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.querySelector('#register_postcode').value = data.zonecode;
                    document.querySelector("#register_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.querySelector("#register_detailAddress").focus();
                }
            }).open();
        }
    </script>
</head>
<header th:replace="~{/common/project_header :: header}"></header>
<body>
    <div class='container'>
        <form class='register_form'>
            <div class='register_box_logo'>
                <h5 class='top'>회원가입</h5>
            </div>
            <div class='regi_box_phone'>
                <h5 class='text_style'>이메일 주소</h5>
                <div>
                    <input type="tel" maxlength='13' class='find_Id_box_pw'>
                    <button class='textCheck'>중복체크</button>
                </div>
            </div>

            <div class='register_box_pw'>
                <h5 class='text_style'>비밀번호 *</h5>
                <input type="password" maxlength='15'>
            </div>
            <div class='register_box_pw'>
                <h5 class='text_style'>비밀번호 확인 *</h5>
                <input type="password" maxlength='15'>
            </div>
            <div class=''>
                <p class='pw_text'>대소문자, 숫자, 특수문자를 포함해서 8~15자 이상</p>
            </div>

            <div class='register_box_pw'>
                <h5 class='text_style'>이름</h5>
                <input type="text" >
            </div>
            <div class='register_box_pw'>
                <h5 class='text_style'>주소</h5>
                <input type="text" id="register_postcode" placeholder="우편번호">
                <button onclick="sample6_execDaumPostcode(event)" class='searchAddressBtn'>검색</button>
                <input type="text" id="register_address" placeholder="주소"><br>
                <input type="text" id="register_detailAddress" placeholder="상세주소 (예: 세탁아파트 101동 101호)">
                <input type="text" id="register_extraAddress" placeholder="참고항목" disabled>
            </div>
            <div class='register_box_pw'>
                <h5 class='text_style'>상세주소</h5>
                <input type="text" >
            </div>

            <div class='regi_box_phone'>
                <h5 class='text_style'>휴대폰번호</h5>
                <div>
                    <input type="tel" maxlength='13' class='find_Id_box_pw'>
                    <button class='textCheck'>발송</button>
                </div>
                <div class='regi_box_phone_check' >
                    <input type="text" class='find_Id_box_pw'>
                    <button class='textCheck '>확인</button>
                </div>
            </div>

            <div class='regi_box_phone'>
                <h5 class='text_style'>추천인코드</h5>
                <div>
                    <input type="tel" maxlength='13' class='find_Id_box_pw'>
                    <button class='textCheck'>확인</button>
                </div>
            </div>
            
            <div class='find_id_button'>
                <a href="#">가입하기</a>
            </div>
        </form>
    </div>

</body>
<footer th:replace="~{/common/project_footer :: footer}"> </footer>
</html>