<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/project_footer.css">
    <link rel="stylesheet" href="/css/project_header.css">
    <link rel="stylesheet" href="/css/project_order_2_1.css">
    <script src="/js/project_order_2_1.js"></script>
</head>
<header th:replace="~{/common/project_header :: header}"></header>
<body>
<div class='container'>
    <form action="#" method="get">
        <h2>드라이클리닝</h2>
        <div class='top'>
            <div class='category'>
                <select name="category1" id="category1">
                    <th:block th:each="item : ${category}">
                        <option th:value="${item.key}" th:text="${item.key}"></option>
                    </th:block>
                </select>
                <select name="category2" id="category2">

                </select>
            </div>
            <button type='button' class='categoryadd' id="categoryAdd">추가</button>
        </div>
        <div class='deleteSec'>
            <input type="checkbox" class="custom-checkbox" id="allDelete">
            <label for="allDelete" class='custom-label'>전체선택</label>
            <button type='button' class='allDeleteBtn'>삭제</button>
        </div>
        <div class='warp'>

        </div>
        <div class='error'></div>
        <div class="fixButton">
            <input type="submit" class='submit bounce' id='submitBtn' value="저장하기">
        </div>
    </form>
</div>
</body>
<footer th:replace="~{/common/project_footer :: footer}"> </footer>
<script th:inline="javascript">
    var category = [[${category}]];
    var percent = [[${percent}]];
    console.log(percent);

    var memberShip = (percent != null && percent != '') ? true : false;
    console.log(memberShip);


</script>
</html>