<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/project_footer.css">
    <link rel="stylesheet" href="/css/project_header.css">
    <link rel="stylesheet" href="/css/project_rider_routine.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        window.addEventListener('load', function () {
            const divList = document.querySelectorAll(".delivery_list");
            const liList = document.querySelectorAll(".select_category li");
            const orderTexts = document.querySelectorAll(".ride_txt .ch");

            liList.forEach((li, index) => {
                li.addEventListener("click", function () {
                    liList.forEach(item => item.classList.remove("active"));
                    this.classList.add("active");

                    divList.forEach(div => div.style.display = "none");
                    divList[index].style.display = "";

                    orderTexts.forEach(order => order.classList.add("now_order_now"));
                    orderTexts[index].classList.remove("now_order_now");

                    let lili = li.innerHTML.split('(')[0];
                    let presentStatus = encodeURIComponent(lili);
                    let ordersAddress = encodeURIComponent($('.category_btn').html());
                    console.log('a');

                    fetch('/region/list/'+ ordersAddress + '/' + presentStatus)
                    .then(response => response.json())
                    .then(map => keywordList(map));
                });
            });


            const modal = document.querySelector('.modal');
            var categoryBtn = document.querySelector('.category_btn');
            categoryBtn.addEventListener('click', function () {

                if($('.active').html().split('(')[0] == '진행중'){
                    modal1.style.display = 'block';
                }else if($('.active').html().split('(')[0] == '완료'){
                    modal2.style.display = 'block';
                }

<!--                modal.style.display = 'block';-->
                body.style.backgroundColor = '#00000033';
            });
            const selectBtn = document.querySelectorAll('.modalBox ul li');
            let selectedButton = null;

            const firstButton = selectBtn[0];
            firstButton.style.color = 'white';
            firstButton.style.backgroundColor = 'black';
            selectedButton = firstButton;
            categoryBtn.innerHTML = selectedButton.innerHTML;


            selectBtn.forEach((item, index) => {
                item.addEventListener('click', function () {

                    console.log(index);
                    modal.style.display = 'none';

                    if (selectedButton) {
                        selectedButton.style.color = '';
                        selectedButton.style.backgroundColor = '';
                    }

                    item.style.color = 'white';
                    item.style.backgroundColor = 'black';

                    body.style.backgroundColor = '';
                    selectedButton = item;
                    console.log(selectedButton);
                    console.log(selectedButton.innerHTML);
                    categoryBtn.innerHTML = selectedButton.innerHTML;

                    const desiredValue = selectedButton.innerHTML.split('(')[0];
                    console.log(desiredValue);

                    const present = $('.active').html().split('(')[0];
                    console.log(present);

                    let ordersAddress = encodeURIComponent(desiredValue);
                    let presentStatus = encodeURIComponent(present);

                    fetch('/region/list/'+ ordersAddress + '/' + presentStatus)
                    .then(response => response.json())
                    .then(map => keywordList(map));

                });
            });
        });

        function keywordList(map){
            let regionList = map.list;
            let cnt = map.cnt;
            console.log(cnt);

            console.log(regionList);

            let pageBlock = '';
            if(regionList.length != 0){
                regionList.forEach((list, index)=>{
                pageBlock += `
                    <a href='/ride/routine/${list.ordersId}'>
                        <li>
                            <div class='order_num'>주문번호 : ${list.ordersId}</div><br>
                            <div class='delivery_address'>${list.ordersAddress}&nbsp${list.ordersAddressDetails}</div><br>
                            <div class='delivery_time'>수거전</div>
                            <div class='delivery_dis'>거리 : 1.2km</div>
                        </li>
                    </a>`;
                });
            }else{
                pageBlock =
                `<li class='drive_none'>현재 진행중인 배달이 없습니다!</li>`;
            }
            $('.delivery_list ul').html(pageBlock);
        }

        function getList(){

        }
    </script>
    <title>Title</title>
</head>
<header th:replace="~{/common/project_header :: header}"></header>
<body id='body'>
<div class='container' id='lili'>
    <div class='rider_header'>
        <div class='ride_head'>정기배송</div><br>
        <div class='ride_txt'>
            <div class=" ch">총 배달 건수 : </div>
            <div class="now_order_now ch">총 배달 건수 : </div>
            <div class='ride_num' th:text="${total['RESULT']} + '건'">0건</div>
        </div>
        <div class='orderRegion' th:text="${rider.riderPossibleZipcode}">서대문구</div>
    </div>
    <div class='select_category'>
        <ul>
            <th:block th:each="cnt : ${cnt}">
                <a th:if="${cnt['QUERY_NAME'] == 'waitCnt'}">
                    <li class='active' id="ingCnt" th:text="'진행중(' + ${cnt['RESULT']} + ')'"></li>
                </a>
                <a th:if="${cnt['QUERY_NAME'] == 'completeCnt'}">
                    <li class="completeCnt" th:text="'완료(' + ${cnt['RESULT']} + ')'"></li>
                </a>
            </th:block>
        </ul>
    </div>
    <div class='category'>
        <div class='category_btn'>배달지역 선택(15)</div>
    </div>
    <div class='delivery_list'>
        <ul>
            <th:block th:each="list : ${list}">
            <a th:href="@{/ride/routine/{ordersId}(ordersId=${list.ordersId})}" >
                <li>
                    <div class='order_num' th:text="'주문번호 : '+ ${list.ordersId}">주문번호</div><br>
                    <div class='delivery_address' th:text="${list.ordersAddress} + ' ' + ${list.ordersAddressDetails}">서울</div><br>
                    <div class='delivery_time'>수거전</div>
                    <div class='delivery_dis'>거리 : 1.2km</div>
                </li>
            </a>
            </th:block>
            <li class='drive_none' th:if="${#lists.isEmpty(list)}">현재 진행할 배달이 없습니다!</li>
        </ul>
    </div>
    <div class='delivery_list' style='display: none;'>
        <ul>
            <th:block th:each="list : ${list}">
                <a th:href="@{/ride/routine/{ordersId}(ordersId=${list.ordersId})}" >
                    <li>
                        <div class='order_num' th:text="'주문번호 : '+ ${list.ordersId}">주문번호</div><br>
                        <div class='delivery_address' th:text="${list.ordersAddress} + ' ' + ${list.ordersAddressDetails}">서울</div><br>
                        <div class='delivery_time'>수거전</div>
                        <div class='delivery_dis'>거리 : 1.2km</div>
                    </li>
                </a>
            </th:block>
            <li class='drive_none' th:if="${#lists.isEmpty(list)}">현재 완료된 배달이 없습니다!</li>
        </ul>
    </div>
</div>
<div class='modal' id="modal1">
    <div class='modalBox'>
        <ul>
            <li th:each="region  : ${regionCntWait}" class="liBtn" th:text="${region.dongInfo.dongNames + '('+ region.dongInfo.dongCnt +')'}"></li>
<!--            <li th:each="dongName : ${dongNames}" class="liBtn" th:text="${dongName}"></li>-->
<!--            <li th:each="dongCnt : ${dongCnt}" class="liBtn" th:text="${'('+dongCnt['RESULT']+')'}"></li>-->
        </ul>
    </div>
</div>
<div class='modal' id="modal2">
    <div class='modalBox'>
        <ul>
            <li th:each="region  : ${regionCntComplete}" class="liBtn" th:text="${region.dongInfo.dongNames + '('+ region.dongInfo.dongCnt +')'}"></li>
            <!--            <li th:each="dongName : ${dongNames}" class="liBtn" th:text="${dongName}"></li>-->
            <!--            <li th:each="dongCnt : ${dongCnt}" class="liBtn" th:text="${'('+dongCnt['RESULT']+')'}"></li>-->
        </ul>
    </div>
</div>
</body>
<footer th:replace="~{/common/project_footer :: footer}"> </footer>
</html>