<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/project_footer.css">
    <link rel="stylesheet" href="/css/project_header.css">
    <link rel="stylesheet" href="/css/project_change_password.css">
    <title>세탁신청</title>
    <style>

    </style>
</head>
<header th:replace="~{/common/project_header :: header}"></header>
<body>

    <div class='container'>
        <form class='pw_change_form'>
            <div class='find_id_logo'>
                로고자리
            </div>
            <div class='pw_change_box_pw'>
                <h5>새 비밀번호 *</h5>
                <input type="password" maxlength='15'>
            </div>
            <div class='pw_change_box_pw'>
                <h5>비밀번호 확인 *</h5>
                <input type="password" maxlength='15'>
            </div>
            <div class=''>
                <p class='pw_text'>대소문자, 숫자, 특수문자를 포함해서 8~15자 이상</p>
            </div>
            
            <div class='find_id_button'>
                <a href="#">비밀번호 변경</a>
            </div>
        </form>
    </div>

</body>
<footer th:replace="~{/common/project_footer :: footer}"> </footer>
</html>