<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/project_footer.css">
    <link rel="stylesheet" href="/css/project_header.css">
    <link rel="stylesheet" href="/css/project_read_more.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=4jevlbxAGy2TQzNvpdD2B3eAfmkUdXQr8uWsi1A1"></script>
    <style>
        .icon_text:last-child{
            margin-top: 1rem;
            font-size: small;
        }
        .finish_img_list{
        height: 10rem;
        border: 1px solid black;
        border-radius: 0.5rem;
        }
        .imglist{
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            margin-top : 1rem
        }
        .imgbox svg{
            margin: 0 auto;
            fill: var(--border-color);
        }

        .imgbox{
            width: calc(100% / 3 - 0.5rem);
            height: calc(100% /3 - 0.5rem);
            border: 1px solid #e9e9e9;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: var(--border-color);
            margin: 0;
        }
        .banner{
            width: 100%;
            height: 7rem;
            border-radius: var(--border-radius);
            border: 1px solid black; /* 삭제 후 사용할 것*/
        }
    </style>
    <script>
        window.onload = function() {
            var orderStatus = document.querySelector('#orderStatus').value;

            if (orderStatus == 3) {
                initTmap(); // 원하는 동작 실행
            }



            $("#fileInput").change(function() {
                $("#selectedImage").css("display", "");
                var file = this.files[0]; // 선택한 파일 가져오기
                if (file) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        // 선택한 파일의 내용을 이미지로 표시
                        $("#selectedImage").attr("src", e.target.result).css({ width: "100%", height: "100%" });
                        $('#complete_btn').css("display", "");
                        $('.imgbox').css("display", "none");

                    };

                    reader.readAsDataURL(file);
                } else {
                    // 파일이 선택되지 않았을 때 이미지 제거
                    $("#selectedImage").attr("src", "");
                }
            });

            var map;
                     var markerInfo;
                     var marker_s, marker_e, marker_p;
                     var drawInfoArr = [];
                     var drawInfoArr2 = [];

                     var chktraffic = [];
                     var resultdrawArr = [];
                     var resultMarkerArr = [];

                     function initTmap() {
                        map = new Tmapv2.Map("map_div", {
                           center : new Tmapv2.LatLng(37.54882398563218, 126.99276886231617),
                           width : "100%",
                           height : "400px",
                           zoom : 10,
                           zoomControl : true,
                           scrollwheel : true
                        });

                        navigator.geolocation.getCurrentPosition((position) => {
                        marker_s = new Tmapv2.Marker(
                                {
                                 position : new Tmapv2.LatLng(position.coords.latitude, position.coords.longitude),
                                 icon : "https://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_s.png",
                                 iconSize : new Tmapv2.Size(24, 38),
                                 map : map
                              });
                                });

                        marker_e = new Tmapv2.Marker(
                              {
                                 position : new Tmapv2.LatLng(37.403049076341794,
                                       127.10331814639885),
                                 icon : "https://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_e.png",
                                 iconSize : new Tmapv2.Size(24, 38),
                                 map : map
                              });

                        $(document).ready(function(){
                                       navigator.geolocation.getCurrentPosition((position) => {

                                          console.log(position.coords.latitude);
                                          console.log(position.coords.longitude);

                                       resettingMap();


            <!-- ----------------------------------------------------------------------------------------------- -->
            var extractedAddress = '';
            var fullAddressElements = document.querySelector('#addressValue').value;
            console.log(fullAddressElements);

            <!--        var fullAddress = fullAddressElements.value;-->
            <!--        var indexOfDong = fullAddress.indexOf("동");-->

            <!--        if (indexOfDong !== -1) {-->
            <!--            extractedAddress = fullAddress.substring(0, indexOfDong-4); // "동"을 포함하기 전까지 추출-->
            <!--        }-->

            <!-- ----------------------------------------------------------------------------------------------- -->


                                       var searchOption = "12";

                                       var trafficInfochk = "N";

                                       var headers = {};
                                          headers["appKey"]="4jevlbxAGy2TQzNvpdD2B3eAfmkUdXQr8uWsi1A1";

            <!-- ----------------------------------------------------------------------------------------------- -->
            var endX = '';
            var endY = '';
                    $.ajax({
                        method: "GET",
                        headers: headers,
                        url: "https://apis.openapi.sk.com/tmap/geo/fullAddrGeo?version=1&format=json",
                        async: false,
                        data: {
                            "coordType": "WGS84GEO",
                            "fullAddr": fullAddressElements
                        },
                        success: function(response) {
                            var resultInfo = response.coordinateInfo;
                            console.log(resultInfo);
                            console.log("위도: " + resultInfo.coordinate[0].newLatEntr);
                            console.log("경도: " + resultInfo.coordinate[0].newLonEntr);

                            console.log(resultInfo.coordinate[0].lon);
                            console.log(resultInfo.coordinate[0].lat);

                            console.log(resultInfo.coordinate[0].adminDong);

                                if (resultInfo.coordinate[0].adminDong === "" || resultInfo.coordinate[0].adminDong === null) {
            <!--                        새주소                      -->
                                    endX = resultInfo.coordinate[0].newLonEntr;
                                    endY = resultInfo.coordinate[0].newLatEntr;
                                }else {
            <!--                        구주수                       -->
                                    endX = resultInfo.coordinate[0].lon;
                                    endY = resultInfo.coordinate[0].lat;
                                }
                        },
                        error: function(xhr, status, error) {
                            console.error(error);
                        }
                    });
                    console.log(endX);
                    console.log(endY);

            <!-- ----------------------------------------------------------------------------------------------- -->




                                       $.ajax({
                                          type : "POST",
                                          headers : headers,
                                          url : "https://apis.openapi.sk.com/tmap/routes?version=1&format=json&callback=result&appKey=4jevlbxAGy2TQzNvpdD2B3eAfmkUdXQr8uWsi1A1",
                                          async : false,
                                          data : {
                                             "startX" : position.coords.longitude,
                                             "startY" : position.coords.latitude,
                                             "endX" : endX,
                                             "endY" : endY,
                                             "reqCoordType" : "WGS84GEO",
                                             "resCoordType" : "EPSG3857",
                                             "searchOption" : searchOption,
                                             "trafficInfo" : trafficInfochk
                                          },
                                          success : function(response) {

                                             var resultData = response.features;

                                             var tDistance = "총 거리 : "
                                                   + (resultData[0].properties.totalDistance / 1000)
                                                         .toFixed(1) + "km";
                                                        document.getElementById('distance').innerHTML = tDistance;

                                             var tTime = " 총 시간 : "
                                                   + (resultData[0].properties.totalTime / 60)
                                                         .toFixed(0) + "분";
                                                        document.getElementById('time').innerHTML = tTime;

                                             var tFare = " 총 요금 : "
                                                   + resultData[0].properties.totalFare
                                                   + "원,";
                                             var taxiFare = " 예상 택시 요금 : "
                                                   + resultData[0].properties.taxiFare
                                                   + "원";

                                             $("#result").text(
                                                   tDistance + tTime + tFare
                                                         + taxiFare);

                                             if (trafficInfochk == "Y") {
                                                for ( var i in resultData) {
                                                   var geometry = resultData[i].geometry;
                                                   var properties = resultData[i].properties;

                                                   if (geometry.type == "LineString") {
                                                      chktraffic
                                                            .push(geometry.traffic);
                                                      var sectionInfos = [];
                                                      var trafficArr = geometry.traffic;

                                                      for ( var j in geometry.coordinates) {
                                                         var latlng = new Tmapv2.Point(
                                                               geometry.coordinates[j][0],
                                                               geometry.coordinates[j][1]);
                                                         var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                                                               latlng);

                                                         sectionInfos
                                                               .push(convertPoint);
                                                      }

                                                      drawLine(sectionInfos,
                                                            trafficArr);
                                                   } else {

                                                      var markerImg = "";
                                                      var pType = "";

                                                      if (properties.pointType == "S") {
                                                         markerImg = "https://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_s.png";
                                                         pType = "S";
                                                      } else if (properties.pointType == "E") {
                                                         markerImg = "https://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_e.png";
                                                         pType = "E";
                                                      } else {
                                                         markerImg = "http://topopen.tmap.co.kr/imgs/point.png";
                                                         pType = "P"
                                                      }

                                                      var latlon = new Tmapv2.Point(
                                                            geometry.coordinates[0],
                                                            geometry.coordinates[1]);
                                                      var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                                                            latlon);

                                                      var routeInfoObj = {
                                                         markerImage : markerImg,
                                                         lng : convertPoint._lng,
                                                         lat : convertPoint._lat,
                                                         pointType : pType
                                                      };
                                                      addMarkers(routeInfoObj);
                                                   }
                                                }

                                             } else {

                                                for ( var i in resultData) {
                                                   var geometry = resultData[i].geometry;
                                                   var properties = resultData[i].properties;

                                                   if (geometry.type == "LineString") {
                                                      for ( var j in geometry.coordinates) {

                                                         var latlng = new Tmapv2.Point(
                                                               geometry.coordinates[j][0],
                                                               geometry.coordinates[j][1]);

                                                         var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                                                               latlng);

                                                         var convertChange = new Tmapv2.LatLng(
                                                               convertPoint._lat,
                                                               convertPoint._lng);

                                                         drawInfoArr
                                                               .push(convertChange);
                                                      }
                                                      drawLine(drawInfoArr,
                                                            "0");
                                                   } else {

                                                      var markerImg = "";
                                                      var pType = "";

                                                      if (properties.pointType == "S") {
                                                         markerImg = "https://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_s.png";
                                                         pType = "S";
                                                      } else if (properties.pointType == "E") {
                                                         markerImg = "https://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_e.png";
                                                         pType = "E";
                                                      } else {
                                                         markerImg = "http://topopen.tmap.co.kr/imgs/point.png";
                                                         pType = "P"
                                                      }


                                                      var latlon = new Tmapv2.Point(
                                                            geometry.coordinates[0],
                                                            geometry.coordinates[1]);

                                                      var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                                                            latlon);

                                                      var routeInfoObj = {
                                                         markerImage : markerImg,
                                                         lng : convertPoint._lng,
                                                         lat : convertPoint._lat,
                                                         pointType : pType
                                                      };


                                                      addMarkers(routeInfoObj);
                                                   }
                                                }
                                             }
                                          },
                                          error : function(request, status, error) {
                                             console.log("code:"
                                                   + request.status + "\n"
                                                   + "message:"
                                                   + request.responseText
                                                   + "\n" + "error:" + error);
                                          }
                                       });
                                    });

                              });
                     }

                     function addComma(num) {
                        var regexp = /\B(?=(\d{3})+(?!\d))/g;
                        return num.toString().replace(regexp, ',');
                     }


                     function addMarkers(infoObj) {
                        var size = new Tmapv2.Size(24, 38);

                        if (infoObj.pointType == "P") {
                           size = new Tmapv2.Size(8, 8);
                        }

                        marker_p = new Tmapv2.Marker({
                           position : new Tmapv2.LatLng(infoObj.lat, infoObj.lng),
                           icon : infoObj.markerImage,
                           iconSize : size,
                           map : map
                        });

                        resultMarkerArr.push(marker_p);
                     }


                     function drawLine(arrPoint, traffic) {
                        var polyline_;

                        if (chktraffic.length != 0) {



                           var lineColor = "";

                           if (traffic != "0") {
                              if (traffic.length == 0) {

                                 lineColor = "#06050D";

                                 polyline_ = new Tmapv2.Polyline({
                                    path : arrPoint,
                                    strokeColor : lineColor,
                                    strokeWeight : 6,
                                    map : map
                                 });
                                 resultdrawArr.push(polyline_);

                              } else {

                                 if (traffic[0][0] != 0) {
                                    var trafficObject = "";
                                    var tInfo = [];

                                    for (var z = 0; z < traffic.length; z++) {
                                       trafficObject = {
                                          "startIndex" : traffic[z][0],
                                          "endIndex" : traffic[z][1],
                                          "trafficIndex" : traffic[z][2],
                                       };
                                       tInfo.push(trafficObject)
                                    }

                                    var noInfomationPoint = [];

                                    for (var p = 0; p < tInfo[0].startIndex; p++) {
                                       noInfomationPoint.push(arrPoint[p]);
                                    }


                                    polyline_ = new Tmapv2.Polyline({
                                       path : noInfomationPoint,
                                       strokeColor : "#06050D",
                                       strokeWeight : 6,
                                       map : map
                                    });

                                    resultdrawArr.push(polyline_);

                                    for (var x = 0; x < tInfo.length; x++) {
                                       var sectionPoint = [];

                                       for (var y = tInfo[x].startIndex; y <= tInfo[x].endIndex; y++) {
                                          sectionPoint.push(arrPoint[y]);
                                       }

                                       if (tInfo[x].trafficIndex == 0) {
                                          lineColor = "#06050D";
                                       } else if (tInfo[x].trafficIndex == 1) {
                                          lineColor = "#61AB25";
                                       } else if (tInfo[x].trafficIndex == 2) {
                                          lineColor = "#FFFF00";
                                       } else if (tInfo[x].trafficIndex == 3) {
                                          lineColor = "#E87506";
                                       } else if (tInfo[x].trafficIndex == 4) {
                                          lineColor = "#D61125";
                                       }


                                       polyline_ = new Tmapv2.Polyline({
                                          path : sectionPoint,
                                          strokeColor : lineColor,
                                          strokeWeight : 6,
                                          map : map
                                       });

                                       resultdrawArr.push(polyline_);
                                    }
                                 } else {

                                    var trafficObject = "";
                                    var tInfo = [];

                                    for (var z = 0; z < traffic.length; z++) {
                                       trafficObject = {
                                          "startIndex" : traffic[z][0],
                                          "endIndex" : traffic[z][1],
                                          "trafficIndex" : traffic[z][2],
                                       };
                                       tInfo.push(trafficObject)
                                    }

                                    for (var x = 0; x < tInfo.length; x++) {
                                       var sectionPoint = [];

                                       for (var y = tInfo[x].startIndex; y <= tInfo[x].endIndex; y++) {
                                          sectionPoint.push(arrPoint[y]);
                                       }

                                       if (tInfo[x].trafficIndex == 0) {
                                          lineColor = "#06050D";
                                       } else if (tInfo[x].trafficIndex == 1) {
                                          lineColor = "#61AB25";
                                       } else if (tInfo[x].trafficIndex == 2) {
                                          lineColor = "#FFFF00";
                                       } else if (tInfo[x].trafficIndex == 3) {
                                          lineColor = "#E87506";
                                       } else if (tInfo[x].trafficIndex == 4) {
                                          lineColor = "#D61125";
                                       }


                                       polyline_ = new Tmapv2.Polyline({
                                          path : sectionPoint,
                                          strokeColor : lineColor,
                                          strokeWeight : 6,
                                          map : map
                                       });

                                       resultdrawArr.push(polyline_);
                                    }
                                 }
                              }
                           } else {

                           }
                        } else {
                           polyline_ = new Tmapv2.Polyline({
                              path : arrPoint,
                              strokeColor : "#DD0000",
                              strokeWeight : 6,
                              map : map
                           });
                           resultdrawArr.push(polyline_);
                        }

                     }


                     function resettingMap() {

                        marker_s.setMap(null);
                        marker_e.setMap(null);

                        if (resultMarkerArr.length > 0) {
                           for (var i = 0; i < resultMarkerArr.length; i++) {
                              resultMarkerArr[i].setMap(null);
                           }
                        }

                        if (resultdrawArr.length > 0) {
                           for (var i = 0; i < resultdrawArr.length; i++) {
                              resultdrawArr[i].setMap(null);
                           }
                        }

                        chktraffic = [];
                        drawInfoArr = [];
                        resultMarkerArr = [];
                        resultdrawArr = [];
                     }

        };

        function goToRiderList() {
             window.location.href = "riderList.html";
         }
    </script>
    <title>Document</title>
</head>
<header th:replace="~{/common/project_header :: header}"></header>
<!--<body th:if="${info.ordersStatus == 2 or info.ordersStatus == 3 or info.ordersStatus == 10 or info.ordersStatus == 11}" onload="initTmap();">-->
<!--<body th:if="${info.ordersStatus == 4 or info.ordersStatus == 12}">-->
<body id="uploadBody">
<!-- 로그인 페이지 -> 배달기사 페이지 -->

<!-- 완료 : 배송완료 사진 / 대기중 : 이동경로 표시 -->
<div class='address_map' id="map_div">
    <img id="selectedImage" src="" alt="선택한 이미지" style='display: none;' th:if="${info.ordersStatus == 13}"/>
    <img id="ig" th:src="@{/images/} + ${img.getDeliveryImageStoreName}" alt="선택한 이미지" th:if="${info.ordersStatus == 13}" style="width: 100%; height: 100%"/>
    <img id="ig2" src="/images/btnG_축약형.png" alt="선택한 이미지" th:if="${info.ordersStatus == 4}" style="width: 100%; height: 100%"/>
</div>
<div class='agree_zone'>
<!--    <form th:action="@{/ride/assign/{ordersId}(ordersId=${info.ordersId})}"  method="post">-->
<!--        <input type="submit" value="수거완료" id='agree_btn' th:if="${info.ordersStatus == 2 or info.ordersStatus == 10}">-->
<!--    </form>-->

    <form th:action="@{/ride/assign/{ordersId}(ordersId=${info.ordersId})}"  method="post">
        <input type="submit" value="수거완료" id='pick_btn' th:if="${info.ordersStatus == 3}">
    </form>

<!--    <form th:action="@{/ride/assign/{ordersId}(ordersId=${info.ordersId})}"  method="post">-->
<!--        <input type="submit" value="업체배송완료" id='status4_btn' th:if="${info.ordersStatus == 4}">-->
<!--    </form>-->

    <form th:action="@{/ride/pickUp/{ordersId}(ordersId=${info.ordersId})}"  method="post" enctype="multipart/form-data">
        <input type="submit" value="배송완료" id='complete_btn' th:if="${info.ordersStatus == 12}" style="display: none;">

                    <div class='imglist' th:if="${info.ordersStatus == 12}" >
                        <input type="file" name="files" id="fileInput" style="display:none">
                        <label for="fileInput" id="customButton" style="width: 100%; height: 100%;">
                        <div class='imgbox' style="border-radius: var(--border-radius); width: 100%; background-color: var(--main-color); height: 4rem; margin-top: -0.5rem;" >
<!--                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width='2rem'>-->
<!--                                <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>-->
                            <span style="font-size: 1.35rem; color: white;">사진첨부</span>
                        </div>
                        </label>
                    </div>
    </form>
    <!-- 대기중 / 진행중 -->
    <div class='location' th:if="${info.ordersStatus == 3}">
        <svg xmlns="http://www.w3.org/2000/svg" class='left' viewBox="0 0 384 512"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
        <svg xmlns="http://www.w3.org/2000/svg" class='right' viewBox="0 0 384 512"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
    </div>
    <div class='progress ' th:if="${info.ordersStatus == 3}">
        <div class='icon'>
            <p class='icon_text' id='distance'></p>
            <p class='icon_text' id='time'></p>
        </div>
        <div class='line'></div>
    </div>
    <div style="height: 1rem; width: 100%;" th:if="${info.ordersStatus == 3 or info.ordersStatus == 4 or info.ordersStatus == 10}">
</div>
<div class='drive_information'>
    <p>주문번호</p>
    <input type="text" name="" id="orderNum" value='주문번호가 없습니다.' readonlyt th:value="${info.ordersId ?: '주문번호가 없습니다.'}">
    <br>
    <p>주소</p>
    <input type="text" name="" id="address" value='주소를 확인해 주세요.' readonly th:value="${info.ordersAddress + ' ' + info.ordersAddressDetails ?: '주소를 확인해 주세요.'}">
    <br>
    <p>주문시간</p>
    <input type="text" name="" id="pickUpTime" value='비밀번호 없음' readonly th:value="${info.ordersDate ?: '비밀번호 없음'}">
    <br>
    <p>요청시간</p>
    <input type="text" name="" id="requestTime" value='요청시간 없음' th:value="'금일 ' + ${info.ordersPickupDate} + '까지'">
    <br>
    <p>요청사항</p>
    <input type="text" name="" id="requestInfo" value='요청사항 없음' readonly th:value="${info.ordersRequest ?: '요청사항 없음'}">
    <br>
    <p>수거위치</p>
    <input type="text" name="" id="pickUpRegion" value='문 앞' readonly th:value="${info.ordersPickup ?: '문 앞'}">
    <br>
    <p>공동현관 비밀번호</p><input type="text" name="" id="doorPw" value='비밀번호 없음' readonly th:value="${info.ordersInfo ?: '비밀번호 없음'}">
    <input type="hidden" name="" id="orderStatus" value="" th:value="${info.ordersStatus ?: ''}">
    <input type="hidden" name="" id="addressValue" value="" th:value="${info.ordersAddress}">
</div>
</form>
</div>
</body>
<footer th:replace="~{/common/project_footer :: footer}"> </footer>
</html>