<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/project_footer.css">
    <link rel="stylesheet" href="/css/project_header.css">
    <link rel="stylesheet" href="/css/project_register.css">
    <title>세탁신청</title>
    <script src="https://kit.fontawesome.com/43c3dfddba.js" crossorigin="anonymous"></script>

</head>
<header th:replace="~{/common/project_header :: header}"></header>
<body>
    <div class='container'>
        <form class='register_form'>
            <div class='register_box_logo'>
                <h5 class='top'>회원가입</h5>
            </div>
            <div class='regi_box_phone'>
                <h5 class='text_style'>이메일 주소</h5>
                <div>
                    <input type="tel" maxlength='13' class='find_Id_box_pw'>
                    <button class='textCheck'>중복체크</button>
                </div>
            </div>

            <div class='register_box_pw'>
                <h5 class='text_style'>비밀번호 *</h5>
                <input type="password" maxlength='15'>
            </div>
            <div class='register_box_pw'>
                <h5 class='text_style'>비밀번호 확인 *</h5>
                <input type="password" maxlength='15'>
            </div>
            <div class=''>
                <p class='pw_text'>대소문자, 숫자, 특수문자를 포함해서 8~15자 이상</p>
            </div>

            <div class='register_box_pw'>
                <h5 class='text_style'>이름</h5>
                <input type="text" >
            </div>
            <div class='register_box_pw'>
                <h5 class='text_style'>주소</h5>
                <input type="text" id="register_postcode" placeholder="우편번호">
                <button onclick="sample6_execDaumPostcode(event)" class='searchAddressBtn'>검색</button>
                <input type="text" id="register_address" placeholder="주소"><br>
                <input type="text" id="register_detailAddress" placeholder="상세주소 (예: 세탁아파트 101동 101호)">
                <input type="text" id="register_extraAddress" placeholder="참고항목" disabled>
            </div>
            <div class='register_box_pw'>
                <h5 class='text_style'>상세주소</h5>
                <input type="text" >
            </div>

            <div class='regi_box_phone'>
                <h5 class='text_style'>휴대폰번호</h5>
                <div>
                    <input type="tel" maxlength='13' class='find_Id_box_pw phoneNumber'>
                    <button type="button" class='textCheck' id="sendSmsBtn">발송</button>
                </div>
                <div class='regi_box_phone_check' >
                    <input type="text" class='find_Id_box_pw phonenumber-check-input'>
                    <button type="button" class='textCheck phonenumber-check-button' >확인</button>

                </div>
                <div id="phonenumber-check-warn"></div>
            </div>

            <div class='regi_box_phone'>
                <h5 class='text_style'>추천인코드</h5>
                <div>
                    <input type="tel" maxlength='13' class='find_Id_box_pw'>
                    <button class='textCheck'>확인</button>
                </div>
            </div>
            
            <div class='find_id_button'>
                <a href="#">가입하기</a>
            </div>
        </form>
    </div>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/project_register.js"></script>
</body>
<footer th:replace="~{/common/project_footer :: footer}"> </footer>
</html>