<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/project_footer.css">
    <link rel="stylesheet" href="/css/project_header.css">
    <link rel="stylesheet" href="/css/project_point.css">

    <title>Document</title>
</head>
<header th:replace="~{/common/project_header :: header}"></header>
<body>

<div class='container'>
    <div class='remainder'>
        <p>보유 포인트</p>
        <p class='point'>100 P</p>
    </div>
    <ul class='point_list'>
        <li>
            <div class='top'>
                <div>헌 옷 포인트 적립</div>
                <div>+ 180P</div>
            </div>
            <br>
            <div class='bottom'>
                <div>1.8kg</div>
                <div>23/08/22</div>
            </div>
        </li>
        <li class='none_point'>아직 보유한 포인트가 없어요!</li>
    </ul>
</div>

</body>
<footer th:replace="~{/common/project_footer :: footer}"> </footer>
</html>