<body>
<div class='container'>
    <div class='menu'>
        <button type='button' class='leftBtn selected'>진행중인 주문</button>
        <button type='button' class='rightBtn'>완료된 주문</button>
    </div>
    <div class='orderList' id='now'>
        <a class='order'>
            <div class='orderTop'>
                <div class='orderBox'>
                    <span class='orderDate'>9월 15일(금)</span>
                    <div class='option'>빠른세탁</div>
                </div>
                <span class='orderStatus'>주문완료</span>
            </div>
            <div class='orderCenter'>
                <span class='orderContent'>OOOO 수선 외 5건</span>
            </div>
        </a>
    </div>

    <div class='orderList hidden' id='complete'>
        <a class='order'>
            <div class='orderTop'>
                <div class='orderBox'>
                    <span class='orderDate'>9월 15일(금)</span>
                    <div class='option'>빠른세탁</div>
                </div>
                <span class='orderStatus'>종료</span>
            </div>
            <div class='orderCenter'>
                <span class='orderContent'>OOOO 수선 외 5건</span>
            </div>
        </a>
    </div>
</div>
</body>