<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/project_footer.css">
    <link rel="stylesheet" href="/css/project_header.css">
    <link rel="stylesheet" href="/css/project_rider.css">
    <!-- sock js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
    <!-- STOMP -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        window.addEventListener('load', function() {

            // 주문 완료 메세지 받기
            const socket = new SockJS('/websocket');
            const stompClient = Stomp.over(socket);
            stompClient.connect({}, function() {

            const storeId = '63';
                stompClient.subscribe('/topic/order-complete/'+storeId, function(message) {

<!--                    const list = $(".delivery_list").length;-->
<!--                    console.log(list);-->
<!--                    if(list == listInfo.getWaitcount()) {-->
<!--                        orderList();-->
<!--                    }-->

            const messageBody = JSON.parse(message.body);

            const orders = messageBody.a;
            const orderId = orders.ordersId;

            $(".drive_none").hide();

            var listItem = '' ;

            if(orders == null){
            listItem =`
                    <li class='drive_none'>
                        <span>현재 배달 요청이 없습니다!</span>
                    </li>`;
            }else{
            listItem = `
                <a href='/test/25'>
                    <li>
                        <span class='order_num'>주문번호 :&nbsp;</span><span class='order_num' name="ordersId">${orders.ordersId}</span><br>
                        <span class='delivery_address'>${orders.ordersAddress} ${orders.ordersAddressDetails}</span>
                        <div class='space'>
                            <span class='delivery_time'>${orders.ordersDate}</span>
                            <span class='delivery_dis'>100km</span>
                        </div>
                    </li>
                </a>`;
            }
            $("#orderList").append(listItem);




                });
            });
        });
    </script>
    <title>Document</title>
</head>
<header th:replace="~{/common/project_header :: header}"></header>
<body>
    <div class='container'>
<!--        <aside th:replace="~{/common/project_rider_header :: rider_header}"></aside>-->
            <div class='rider_header'>
                <div class='ride_head'>배달</div><br>
                <div class='ride_txt'>
                    <div class='ch'>대기중인 배달 건수 : </div>
                    <div class='ride_num'>0건</div>
                </div>
            </div>
            <div class='select_category'>
                <ul>
                    <a href="/ride/wait"><li class='active'>대기중(0)</li></a>
                    <a href="/ride/accept"><li th:text="${'진행중(' + cnt[0]['RESULT']} + ')'">진행중(16)</li></a>
                    <a href="/ride/finish"><li th:text="${'완료(' + cnt[1]['RESULT']} + ')'">완료(7)</li></a>
                </ul>
            </div>
            <div class='delivery_list'>
                <ul id="orderList">
<!--                    <a href='/test/25'>-->
<!--                        <li>-->
<!--                            <span class='order_num'>주문번호 : qweqwe1591</span>-->
<!--                            <span class='delivery_address'>서울특별시 서대문구 대현동 777-8 508동 116호</span>-->
<!--                            <div class='space'>-->
<!--                                <span class='delivery_time'>2023-08-26 18:57:11</span>-->
<!--                                <span class='delivery_dis'>거리 : 1.2km</span>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                    </a>-->
<!--                    <a href='/test/25'>-->
<!--                        <li>-->
<!--                            <span class='order_num'>주문번호 : qweqwe1591</span>-->
<!--                            <span class='delivery_address'>서울특별시 서대문구 대현동 777-8 508동 116호</span>-->
<!--                            <div class='space'>-->
<!--                                <span class='delivery_time'>2023-08-26 18:57:11</span>-->
<!--                                <span class='delivery_dis'>거리 : 1.2km</span>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                    </a>-->
                    <li class='drive_none'>
                        <span>현재 배달 요청이 없습니다!</span>
                    </li>
                </ul>
            </div>
<!--        <div id="aa" th:test="${quickLaundry}">aa</div>-->
        <div id="orderStatus"></div>
    </div>
</body>
<footer th:replace="~{/common/project_footer :: footer}"> </footer>
</html>