<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/project_footer.css">
    <link rel="stylesheet" href="/css/project_header.css">
    <link rel="stylesheet" href="/css/project_order_confirm.css">
</head>
<header th:replace="~{/common/project_header :: header}"></header>
<body>
    
    <div class='container'>
        <form action="#" method="get">
            <h2>주문정보</h2>
            <div class='info'>
                <span class='content'>주의사항에 대한 내용</span>
            </div>
            <h4>주문내용</h4>
            <table class='orderOption'>
                <tr>
                    <th class='content' >선택사항</th>
                    <td class='content' th:test="${quickLaundry}">일반세탁</td>
                </tr>
                <tr>
                    <th class='content'>세탁옵션</th>
                    <td class="content" th:text="${info}"></td>
                    <input type="hidden" name="laundryOptioin">
                </tr>
            <hr>
            <h4>헌 옷 수거</h4>
            <div class='info'>
                <span class='content'>헌 옷 수거에 대한 내용</span>
            </div>
            <hr class='bighr'>
            <h4>수거 / 배송 정보</h4>
            <table>
                <tr>
                    <th>일정</th>
                    <td><a href="#" class='change'>변경</a></td>
                </tr>
            </table>
            <div class='info'>
                <span class='content' th:text="'수거 ' + ${dateTime.pickup}"></span>
                <span class='content' th:text="'배송 ' + ${dateTime.returns}"></span>
            </div>
            <input type="hidden" name="takeDate">
            <input type="hidden" name="deliveryDate">
            <hr>
            <table>
                <tr>
                    <th>주소</th>
                    <td><a href="#" class='change'>변경</a></td>
                </tr>
            </table>
            <span class='content' th:text="${address.memberAddress}"></span>
            <input type="hidden" name="address" th:value="${address.memberAddress}">
            <table>
                <tr>
                    <th class='content'>상세주소</th>
                    <td></td>
                </tr>
            </table>
            <span class='content' th:text="${address.memberAddressDetails}"></span>
            <input type="hidden" name="addressDetails" th:value="${address.memberAddressDetails}">
            <hr>
            <table>
                <tr>
                    <th>수거 / 배송 위치</th>
                    <td><a href='#' class='change'>변경</a></td>
                </tr>
            </table>
            <div class='location content'>문 앞</div>
            <input type='hidden' name='location'>
            <hr>
            <table>
                <tr>
                    <th>쿠폰
                        <span th:text="'사용 가능한 쿠폰 ' + ${couponCount} + '장 >'"></span>
                    </th>
                    <td></td>
                </tr>
            </table>
            <button class='coupon' id="selectCoupon">
                <span class='couponName content'>적용안함</span>
                <svg xmlns="http://www.w3.org/2000/svg" style='rotate: 180deg;' viewBox="0 0 512 512"><path d="M290.5 51.8C283.3 39.5 270.2 32 256 32s-27.3 7.5-34.5 19.8l-216 368c-7.3 12.4-7.3 27.7-.2 40.1S25.7 480 40 480H472c14.3 0 27.6-7.7 34.7-20.1s7-27.8-.2-40.1l-216-368z"/></svg>
            </button>
            <input type="hidden" name="coupon">

            <hr>

            <h4>공동현관 비밀번호</h4>
            <div class='radioBox'>
                <div class='box'>
                    <input type="radio" name="pw" id="O">
                    <span class="custom-radio" id='pwO' onclick='toogleRadio(this)'></span>
                    <input type="text" name="" id="password" placeholder='예) 1234'>
                </div>
                <div class='box'>
                    <input type="radio" name="pw" id="X">
                    <span class="custom-radio" id='pwX' onclick='toogleRadio(this)'></span>
                    <label for="X" class='content'>비밀번호 없음</label>
                </div>
            </div>

            <hr class='bighr'>

            <h4>결제 예상금액</h4>
            <table>
                <tr th:if="${quickLaundry != null}">
                    <th class='content'>빠른세탁</th>
                    <td class='content'>+ 4,000원</td>
                </tr>
                <tr>
                    <th class='content'>배송비</th>
                    <td class='content'>+ 3,000원</td>
                </tr>
                <tr th:if="${infoPrice.isCommon == 1}">
                    <th class='content'>생활빨래</th>
                    <td class='content'>+ 5,000원</td>
                </tr>
            </table>
            <table class='additional dry' th:if="${infoPrice.isDry == 1}">
                <tr>
                    <th class='content'>드라이클리닝</th>
                    <td class='content'>+ 100,000원</td>
                </tr>
                <tr class='details'>
                    <table class='detail_info'>
                        <tr>
                            <th class='detailcontent'>
                                <span class='content_name'>와이셔츠</span>
                            </th>
                            <td class='detailcontent'>+ 10,000원</td>
                        </tr>
                        <tr>
                            <th class='detailcontent'>
                                <span class='content_name'>운동화 세탁</span>
                            </th>
                            <td class='detailcontent'>+ 0원</td>
                        </tr>
                    </table>
                </tr>
            </table>
            <button class='more' id="dry" type='button' th:if="${infoPrice.isDry == 1}">
                <span>펼쳐보기</span>
                <svg xmlns="http://www.w3.org/2000/svg" style='rotate: 180deg;' viewBox="0 0 512 512"><path d="M290.5 51.8C283.3 39.5 270.2 32 256 32s-27.3 7.5-34.5 19.8l-216 368c-7.3 12.4-7.3 27.7-.2 40.1S25.7 480 40 480H472c14.3 0 27.6-7.7 34.7-20.1s7-27.8-.2-40.1l-216-368z"/></svg>
            </button>
            <table class='additional repair'>
                <tr>
                    <th class='content'>수선</th>
                    <td class='content'>+ 150,000원</td>
                </tr>
                <tr class='details'>
                    <table class='detail_info'>
                        <tr>
                            <th class='detailcontent'>
                                <span class='content_name'>와이셔츠</span>
                            </th>
                            <td class='detailcontent'>+ 10,000원</td>
                        </tr>
                        <tr>
                            <th class='detailcontent'>
                                <span class='content_name'>운동화 세탁</span>
                            </th>
                            <td class='detailcontent'>+ 0원</td>
                        </tr>
                    </table>
                </tr>
            </table>
            <button class='more' id="repair" type='button'>
                <span>펼쳐보기</span>
                <svg xmlns="http://www.w3.org/2000/svg" style='rotate: 180deg;' viewBox="0 0 512 512"><path d="M290.5 51.8C283.3 39.5 270.2 32 256 32s-27.3 7.5-34.5 19.8l-216 368c-7.3 12.4-7.3 27.7-.2 40.1S25.7 480 40 480H472c14.3 0 27.6-7.7 34.7-20.1s7-27.8-.2-40.1l-216-368z"/></svg>
            </button>
            <h4>예상 할인 금액</h4>
            <table>
                <tr th:if="${quickLaundry != null}">
                    <th class='content'>패스</th>
                    <td class='content'>- 4,000원</td>
                </tr>
                <tr>
                    <th class='content'>쿠폰</th>
                    <td class='content'>- 3,000원</td>
                </tr>
                <tr>
                    <th class='content'>전체금액</th>
                    <td class='content'>200,000원 + a</td>
                </tr>
            </table>
            <div class='fixbox'>
                <span>검수과정에서 결제금액이 변경될 수 있습니다.</span>
                <input type="submit" value="신청하기">
            </div>
        </form>
    </div>
</body>
<footer th:replace="~{/common/project_footer :: footer}"> </footer>
<script>
    // 공동현관 비밀번호 radio 버튼 연동
    function toogleRadio(element) {
        const radio = element.previousElementSibling;
        if (!radio.checked){
            radio.checked = !radio.checked;
        }
    }
    let couponBtn = document.querySelector('#selectCoupon');
    couponBtn.addEventListener('click', function(){

    })
    
</script>
</html>